<div class="span12" style="overflow-x: hidden">
    <div ng-include="'partials/sidemenu.html'"></div>
</div>
<div class="span0" style="display: none">
    <div style="margin-left: 8px" ng-include="'partials/content.html'"></div>

  <!--  <div class="eventHeader">
        <h2 align="center">Alcatraz</h2>
    </div>
    <div class="content-box">
        <h3>Rules</h3>
    Like YouTube for 3D animations - that's 3DF33D ... but here are four of my favourites: the wobble dance by Thierry Tranchina, ...
    heavily optimised for the kinds of calculations that underpin these effects.
    Alstroemeria Animation 2 Acrylic on stretched canvas. ... swirls and then i made it twirl. looks pretty cool
    as a tiled background for your . ...
    red I applied on this red abstract painting some canvas segments for a 3D effect.
    </div>
    -->
</div>
