body{
    background:#05254D;
    background-image:url('../img/stardust.png');
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}


@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.clouds {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
    background: transparent url('../img/clouds3.png') repeat-x top center;
    margin-top: -400px;
    z-index: -1;
    -moz-animation: move-clouds-back 200s linear infinite;
    -ms-animation: move-clouds-back 200s linear infinite;
    -o-animation: move-clouds-back 200s linear infinite;
    -webkit-animation: move-clouds-back 200s linear infinite;
    animation: move-clouds-back 200s linear infinite;
}

.headerContainer{
    margin: 3px;
}}

.leftLogo{
    float: left;
    height: 100px;
    max-width: 100%;
}
.rightLogo{
    float: right;
    height: 100px;
    max-width: 100%;
}
.middleLogo{
    height: 100px;
    max-width: 100%;
    margin-left: 10%;
}

.updates{
    display: block;
    width: 100%;
    height: 50px;
    background: rgba(245,245,245,0.25);

}

.updates ul{
    list-style: none;
}
.updateItem{
    display: inline-block;
    margin: 15px;

}

.updateItem a{
    color: #eee;

}

.homeImages{
    margin-top: 5%;
}

.dockHolder{
    display: block;
    position: fixed;
    top:90%;
    width: 100%;
}

.menuHolder{
    display: block;
    background: #eee;
    height: 50px;
    border:2px solid black;
}

.menuItems{
    display: inline-block;
    margin-left: 5%;
}

.eventHeader{
    color: #eee;
}

.content-box{
    background: rgba(225,225,225,0.5);
    padding: 20px;
    color: #111;
}

.homeimages{
    margin-top: 0;

}

.contact{
}

.contact ul{
    list-style: none;
    float: left;
    padding: 0;
    margin: 0;
}

.teams{
    display: block;
    font-size: 16px;
    padding: 20px;
    margin: 0px 10px 0px 0px;
    color: #eee;
    background: rgba(220,220,220,0.1);
    border-bottom: 1px rgba(0,0,0,0.2) solid;
    cursor: pointer;
    -webkit-transition:all 0.1s ease;
    transition:all 0.1s ease;

}

.teams:hover{
    background: rgba(0,0,0,0.3);
}

/* Contact */

.mh-menu{
    height: 385px;
    float: left;
    margin: 20px auto;
    position: relative;
    margin-left: 15% !important;

    vertical-align: middle;
}
.mh-menu li{
    width: 300px;
}
.mh-menu li a{
    display: block;
    width: 280px;
    padding: 0px 10px;
    text-align: right;
    position: relative;
    z-index: 10;
    height: 97px;
    border-right: 1px solid #ddd;
}
.mh-menu li a:hover{
    text-decoration: none;
}
.mh-menu li:nth-child(1):hover a{
    background-color: rgba(174,54,55,0.9);
}
.mh-menu li:nth-child(2):hover a{
    background-color: rgba(195, 210, 67, 0.9)
}
.mh-menu li:nth-child(3):hover a{
    background-color: rgba(211, 132, 57, 0.9);
}
.mh-menu li:nth-child(4):hover a{
    background-color: rgba(142, 116, 99, 0.9);
}
.mh-menu li a span{
    display:block;
}
.mh-menu li a span:first-child{
    font-weight: 700;
    font-size: 16px;
    color: #ddd;
    padding-top: 10px;
    font-family: 'Alegreya SC', Georgia, serif;
}
.mh-menu li a span:nth-child(2){
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    font-family: 'Alegreya SC', Georgia, serif;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
.mh-menu li:hover span:nth-child(2){
    color: #fff;
}
.mh-menu li img{
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
    -moz-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
    -o-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
    -ms-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
    transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
}
.mh-menu li:hover img{
    left: 300px;
    opacity: 1;
}