<div class="expertsHolder">

    <div class="row searchExperts">
        <center>
        <i class="icon-filter" id="searchName"></i> <input type="search" class="expertsSearchName" placeholder="Filter Experts By Name">
        <i class="icon-filter" id="searchName"></i> <input type="search" class="expertsSearchName" placeholder="Filter Experts By Work Area">
        </center>
    </div>

    <div class="row">
        <ul class="thumbnails">
            <li class="span3">
                <div class="thumbnail">

                    <div class="card">

                        <div class="front face">
                            <img class="img-polaroid" data-src="holder.js/300x200" alt="300x200" src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10403586_10202322830411871_2758826363996062549_n.jpg?oh=4078c492bdba5101714d8d2b41fca474&oe=54C6E256&__gda__=1419140928_b28f8fb1de3d505142fe7478b5e5cc62" width="200px" height="200px">
                        </div>
                        <div class="back face">
                            <div class="caption">

                                <h3 align="center">Shibu Lijack</h3>
                                <span  class="label label-important">Bally Technologies</span>
                                <span class="label label-success">CEG CSE</span><br>
                                <p> <blockquote><i>Its time to pull up some threads ;)</i></blockquote></p>
                             </div>

                        </div>

                    </div>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail">

                    <div class="card">

                    <div class="front face">
                        <img class="img-polaroid" data-src="holder.js/300x200" alt="300x200"  src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10275957_684789618248913_133739753067370478_n.jpg?oh=024fda6303553e76b5571f694252eeca&oe=548646EB&__gda__=1418247978_7c433d7c1532135391dfc7119bab9a69" width="200px" height="200px">
                    </div>

                    <div class="back face">
                        <div class="caption">
                            <h3 align="center">Naveen Anto</h3>
                            <span  class="label label-important">Samsung R&D</span>
                            <span class="label label-success">CEG CSE</span><br>
                            <p> <blockquote><i>If you want me to fear you, then you better be god!</i></blockquote></p>

                        </div>
                     </div>

                    </div>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail">

                 <div class="card">


                    <div class="front face">
                     <img class="img-polaroid" data-src="holder.js/300x200" alt="300x200" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10172775_726620117379324_7534186038920804304_n.jpg?oh=e0d8479df22c08335b9012ef2bad2ac9&oe=54CF9475&__gda__=1422511391_25dd1e05970a03f3bcb5d61effe0be9b" width="200px" height="200px">
                    </div>


                     <div class="back face">

                     <div class="caption">

                        <h3 align="center">Arun Jain</h3>
                        <span  class="label label-important">Bally Technologies</span>
                        <span class="label label-success">MIT CSE</span><br>
                        <p> <blockquote><i>When you are good at something, never do it for free.. :p</i></blockquote></p>

                    </div>

                     </div>

                 </div>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail">

                    <div class="card">

                     <div class="front face">
                        <img class="img-polaroid" data-src="holder.js/300x200" alt="300x200" src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10525745_10152295001255892_6557053741332849643_n.jpg?oh=febc63933d4c94d86540faf7daddafdd&oe=5482AF6C&__gda__=1418385018_aa668c23df0027ef6cf29d169f716a1f" width="200px" height="200px">
                     </div>

                    <div class="back face">
                    <div class="caption">
                        <h3 align="center">Henry Jones</h3>
                        <span  class="label label-important">Bally Technologies</span>
                        <span class="label label-success">CEG CSE</span><br>
                        <p> <blockquote><i>Its my turn..;)</i></blockquote></p>

                    </div>

                    </div>

                    </div>
                </div>
            </li>

            <li class="span3">
                <div class="thumbnail">

                    <div class="card">

                        <div class="front face">
                            <img class="img-polaroid" data-src="holder.js/300x200" alt="300x200" src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10525745_10152295001255892_6557053741332849643_n.jpg?oh=febc63933d4c94d86540faf7daddafdd&oe=5482AF6C&__gda__=1418385018_aa668c23df0027ef6cf29d169f716a1f" width="200px" height="200px">
                        </div>

                        <div class="back face">
                            <div class="caption">
                                <h3 align="center">Henry Jones</h3>
                                <span  class="label label-important">Bally Technologies</span>
                                <span class="label label-success">CEG CSE</span><br>
                                <p> <blockquote><i>Its my turn..;)</i></blockquote></p>

                            </div>

                        </div>

                    </div>
                </div>
            </li>

            <li class="span3">
                <div class="thumbnail">

                    <div class="card">

                        <div class="front face">
                            <img class="img-polaroid" data-src="holder.js/300x200" alt="300x200" src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10403586_10202322830411871_2758826363996062549_n.jpg?oh=4078c492bdba5101714d8d2b41fca474&oe=54C6E256&__gda__=1419140928_b28f8fb1de3d505142fe7478b5e5cc62" width="200px" height="200px">
                        </div>
                        <div class="back face">
                            <div class="caption">

                                <h3 align="center">Shibu Lijack</h3>
                                <span  class="label label-important">Bally Technologies</span>
                                <span class="label label-success">CEG CSE</span><br>
                                <p> <blockquote><i>Its time to pull up some threads ;)</i></blockquote></p>
                            </div>

                        </div>

                    </div>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail">

                    <div class="card">

                        <div class="front face">
                            <img class="img-polaroid" data-src="holder.js/300x200" alt="300x200"  src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10275957_684789618248913_133739753067370478_n.jpg?oh=024fda6303553e76b5571f694252eeca&oe=548646EB&__gda__=1418247978_7c433d7c1532135391dfc7119bab9a69" width="200px" height="200px">
                        </div>

                        <div class="back face">
                            <div class="caption">
                                <h3 align="center">Naveen Anto</h3>
                                <span  class="label label-important">Samsung R&D</span>
                                <span class="label label-success">CEG CSE</span><br>
                                <p> <blockquote><i>If you want me to fear you, then you better be god!</i></blockquote></p>

                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail">

                    <div class="card">


                        <div class="front face">
                            <img class="img-polaroid" data-src="holder.js/300x200" alt="300x200" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10172775_726620117379324_7534186038920804304_n.jpg?oh=e0d8479df22c08335b9012ef2bad2ac9&oe=54CF9475&__gda__=1422511391_25dd1e05970a03f3bcb5d61effe0be9b" width="200px" height="200px">
                        </div>


                        <div class="back face">

                            <div class="caption">

                                <h3 align="center">Arun Jain</h3>
                                <span  class="label label-important">Bally Technologies</span>
                                <span class="label label-success">MIT CSE</span><br>
                                <p> <blockquote><i>When you are good at something, never do it for free.. :p</i></blockquote></p>

                            </div>

                        </div>

                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>