<div class="homeContent">
        <h3><i class="icon-hash"></i>&nbsp; Who are we?</h3>
        <hr>
        <p>
            <img src="http://cs.annauniv.edu/images/dept.jpg" width="300px" height="300px" style="float: right">
            Anna University, Chennai, is a leading technical University in India located at Chennai, Tamil Nadu. Department of Computer Science and Engineering (DCSE), formerly known as School of Computer Science and Engineering, was carved out of the School of Electronics and Communication Engineering in September 1987. DCSE function as one of the University Department having academic autonomy of having its own syllabus and curriculum. It offers  undergraduate, postgraduate and research programmes in various disciplines of Computer Science & Engineering.

            The Department functions under the Faculty of Information and Communication Engineering.

            The Department imparts world class training and research.  The Department provides state of the art computing facilities to the students.  It also promotes active industry-institute collaboration by identifying areas of interest and taking part in sponsored research projects and consultancy services.

            Some of the major research areas which the faculty members and students working on are Networks, Database, Theoretical Computer Science, Multimedia, Image Processing, Software Engineering and Data Mining
        </p><br>
        <h3><i class="icon-hash"></i>&nbsp; What are we good at?</h3>
        <hr>
        <p>
            <img src="http://cs.annauniv.edu/images/dept.jpg" width="300px" height="300px" style="float: left">
            Anna University, Chennai, is a leading technical University in India located at Chennai, Tamil Nadu. Department of Computer Science and Engineering (DCSE), formerly known as School of Computer Science and Engineering, was carved out of the School of Electronics and Communication Engineering in September 1987. DCSE function as one of the University Department having academic autonomy of having its own syllabus and curriculum. It offers  undergraduate, postgraduate and research programmes in various disciplines of Computer Science & Engineering.

            The Department functions under the Faculty of Information and Communication Engineering.

            The Department imparts world class training and research.  The Department provides state of the art computing facilities to the students.  It also promotes active industry-institute collaboration by identifying areas of interest and taking part in sponsored research projects and consultancy services.

            Some of the major research areas which the faculty members and students working on are Networks, Database, Theoretical Computer Science, Multimedia, Image Processing, Software Engineering and Data Mining
        </p>
    </div>